<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layoutFile :: layout(~{::body},'myPage')}">

<!-- Body-->
<body class="handheld-toolbar-enabled">

    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item">
                            <a class="text-nowrap" href="../shop.html"><i class="ci-home"></i>Home</a></li>
                        <li class="breadcrumb-item text-nowrap">
                            <a href="#">Account</a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Wishlist</li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 text-light mb-0">My wishlist</h1>
            </div>
        </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">

            <!-- Sidebar-->
            <div th:replace="~{myPage/myPageSidebar:: sidebar ('wishlist')}"></div>
            <!-- Content  -->
            <section class="col-lg-8">

                <!-- Toolbar-->
                <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                    <h6 class="fs-base text-light mb-0">List of items you added to wishlist:</h6><a
                        class="btn btn-primary btn-sm" href="account-signin.html"><i class="ci-sign-out me-2"></i>Sign out</a>
                </div>
                <!-- Wishlist-->

                <!-- Item-->
                <div class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom"  th:each="product : ${Products}">
                    <div class="d-block d-sm-flex align-items-start text-center text-sm-start">

                        <a class="d-block flex-shrink-0 mx-auto me-sm-4" href="shop-single-v1.html"  style="width: 10rem;">
                            <img th:src="|/product/images/${product.productImagesList.get(0).getStoreFileName()}|" alt="Product">
                        </a>

                        <div class="pt-2">
                            <h3 class="product-title fs-base mb-2">
                                <a th:href="@{/shop/detailProduct(id=${product.id})}" th:text="${product.getName()}">물품제목</a>
                            </h3>

                            <div class="fs-sm" >
                                <span class="me-2" >
                                    카테고리:
                                </span>
                                <span class="text-muted me-2" th:text="|${product.categoryRecordDto.getSecond()}|">
                                </span>
                            </div>

                            <div class="fs-sm">
                                <span class="me-2" >
                                    즉시구매가:
                                </span>
                                <span class="text-muted me-2"  th:text="|${product.instantPrice} 원|">
                                </span>
                            </div>

                            <div class="fs-sm" th:if="${product.auctionPrice != null}">
                                <span class="me-2" >
                                    경매가:
                                </span>
                                <span class="text-muted me-2"  th:text="|${product.getAuctionPrice()} 원|">
                                </span>
                            </div>

                            <div class="fs-sm">
                                <span class="me-2" >
                                    마감날짜:
                                </span>
                                <span class="text-muted me-2"  th:text="|마감날짜: ${#temporals.format( product.deadLine , 'yyyy-MM-dd HH:mm:ss')}|">
                                </span>
                            </div>


                        </div>
                    </div>

                    <form class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center" th:action="@{/product/order/deleteCart}" method="post">
                        <input type="hidden" th:name="productid"  th:value="${product.id}" />

                        <button class="btn btn-outline-danger btn-sm" type="submit">
                            <i class="ci-trash me-2"></i>Remove
                        </button>
                    </form>

                </div>

                <!-- Pagination-->
                <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation " th:if="${totalPages != 0}">

                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/members/myPage/wishlist(page=${presentPage}-1)}">
                                <i class="ci-arrow-left me-2"></i>Prev
                            </a>
                        </li>
                    </ul>

                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/members/myPage/wishlist(page=1)}">
                                <i class="ci-arrow-left me-2"></i>First
                            </a>
                        </li>
                    </ul>

                    <ul class="pagination">
                        <th:block th:with="start = ${T(Math).floor(presentPage/10) * 10 +1},
                                            end = (${start + 9 < totalPages ? start+9 : totalPages})">
                            <li class="page-item"
                                th:each="pageButton : ${#numbers.sequence(start, end)}">
                                <a class="page-link" th:classappend="( ${ pageButton == presentPage + 1 }) ? 'bg-primary text-white'  : '' " th:href="@{/members/myPage/wishlist(page = ${pageButton})}" th:text="${pageButton}"></a>
                            </li>
                        </th:block>
                    </ul>

                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link"th:href="@{/members/myPage/wishlist(page=${totalPages})}" aria-label="Next">Last
                                <i class="ci-arrow-right ms-2"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link"th:href="@{/members/myPage/wishlist(page=${presentPage}+1)}" aria-label="Next">Next
                                <i class="ci-arrow-right ms-2"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
</main>
</body>
</html>