<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layoutFile :: layout(~{::body},'myPage')}">


<!-- Body-->
<body class="handheld-toolbar-enabled">

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="../shop.html"><i
                            class="ci-home"></i>Home</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap"><a href="#">Account</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Orders history</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">My orders</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        <div th:replace="~{myPage/myPageSidebar:: sidebar('saleOrders')}"></div>
        <!-- Content  -->
        <section class="col-lg-8">

            <!-- Toolbar-->
            <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
                <div class="d-flex align-items-center">
                    <h6 class="fs-base text-light mb-0">판매주문 페이지 입니다.</h6>
                </div>
<!--                <a class="btn btn-primary btn-sm d-none d-lg-inline-block" href="account-signin.html"><i-->
<!--                        class="ci-sign-out me-2"></i>Sign out</a>-->
                <!-- 로그아웃 버튼 -->
                <form class="btn btn-primary btn-sm d-none d-lg-inline-block" method="post"
                      th:if="${session.loginMember != null }" th:action="@{/logout}"
                      data-bs-toggle="modal">

                    <button class="btn btn-primary btn-sm d-none d-lg-inline-block" type="submit">
                        <i class="ci-sign-out me-2"></i>로그아웃
                    </button>
                </form>
            </div>

            <th:block th:each="saleOrder, saleOrderStat : ${saleOrders}">

                <!-- The Modal -->
                <div class="modal" th:id="|myModal${saleOrderStat.index}|">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header border border-0">
                                <h4 class="modal-title mt-1">주문 상세 내용</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <hr class="mx-3 border border-2 rounded border-primary bg-primary">


                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="py-2"> 물품 번호:&nbsp&nbsp<span th:text="${saleOrder.productId}"></span></div>
                                <div class="py-2"> 물품 이름:&nbsp&nbsp<span th:text="${saleOrder.productName}"></span>

                                </div>
                                <div class="py-2"> 경매 시작가:&nbsp&nbsp<span
                                        th:text=" ( ${saleOrder.auctionPrice} == null ) ? '-': ${saleOrder.auctionPrice} "></span>
                                </div>
                                <div class="py-2"> 바로 구매가:&nbsp&nbsp<span th:text="${saleOrder.instantPrice}"></span>

                                </div>

                                <div class="py-2"> 물품 상태:&nbsp&nbsp<span
                                        th:text="${saleOrder.productType.description}"></span>

                                </div>
                                <div class="py-2"> 등록 상태:&nbsp&nbsp<span
                                        th:text="${saleOrder.productTime.description}"></span>

                                </div>
                                <div class="py-2"> 마감 시간:&nbsp&nbsp<span
                                        th:text=" (${saleOrder.deadLine} == null ) ? '-' : ${#temporals.format( saleOrder.deadLine , 'yyyy-MM-dd HH:mm:ss')}"></span>

                                </div>

                                <div class="py-2"> 물품 등록 날짜:&nbsp&nbsp<span
                                        th:text="${#temporals.format( saleOrder.productDateTime , 'yyyy-MM-dd HH:mm:ss')}"></span>

                                    <br>
                                </div>

                                <hr class="my-1 border border-2 rounded border-primary bg-primary">

                                <div class="py-2"> 주문 상태:&nbsp&nbsp<span
                                        th:text="${saleOrder.orderType.description}"></span>
                                </div>
                                <div class="py-2" th:if="${saleOrder.orderType} == ${orderType[1]}" > 입찰가:&nbsp&nbsp<span
                                        th:text=" ( ${saleOrder.offerPrice} == -1 ) ? '-' : ${saleOrder.offerPrice}"></span>
                                </div>
                                <div class="py-2" th:if="${saleOrder.orderType} == ${orderType[2]}" > 낙찰가:&nbsp&nbsp<span
                                        th:text=" ( ${saleOrder.offerPrice} == -1 ) ? '-' : ${saleOrder.offerPrice}"></span>
                                </div>
                                <div class="py-2" th:if="${saleOrder.orderType} == ${orderType[3]}" > 바로 구매:&nbsp&nbsp<span
                                        th:text=" ( ${saleOrder.offerPrice} == -1 ) ? '-' : ${saleOrder.offerPrice}"></span>
                                </div>
                                <div class="py-2"> 구매자 이름:&nbsp&nbsp<span
                                        th:text=" ( ${saleOrder.orderType } == ${orderType[0] } ) ? '-' : ${saleOrder.buyerName}"></span>

                                </div>
                                <div class="py-2"> 주문 신청 시간:&nbsp&nbsp<span
                                        th:text=" ( ${saleOrder.orderType } == ${orderType[0] }) ? '-' : ${#temporals.format( saleOrder.orderDateTime , 'yyyy-MM-dd HH:mm:ss')}"></span>

                                </div>

                            </div>
                            <hr class="mx-3 border rounded border-2 border-primary bg-primary">

                            <!-- Modal footer -->
                            <div class="modal-footer border border-0">
                                <form action=""
                                      th:action="@{/product/order/transaction/complete/{param1}(param1=${saleOrder.orderId})}"
                                      method="post">
                                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                                            th:if="(${saleOrder.orderType} == ${orderType[3]} or ${saleOrder.orderType} == ${orderType[2]} ) ">
                                        주문 완료
                                    </button>
                                </form>
                                <form action=""
                                      th:action="@{/product/order/transaction/trading/{param1}(param1=${saleOrder.orderId})}"
                                      method="post">
                                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                                            th:if="(${saleOrder.orderType} == ${orderType[1]})">
                                        주문 수락
                                    </button>
                                </form>

                                <form action=""
                                      th:action="@{/product/order/transaction/cancel/{param1}(param1=${saleOrder.orderId})}"
                                      method="post">
                                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                                            th:if="(${saleOrder.orderType} != ${orderType[4]} and
                                             ${saleOrder.orderType} != ${orderType[5]}  )">
                                        주문 취소
                                    </button>
                                </form>

                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- modal end -->
            </th:block>

            <!--unRegistered("미신청"),waiting("대기"), refusal("거부"),
            trading("거래 중"), complete("완료");-->
            <!-- Orders list-->
            <div class="table-responsive fs-md mb-4">
                <table class="table table-hover mb-0">
                    <thead>
                    <tr class="text-center">
                        <th>물품 이름</th>
                        <th>판매 형식</th>
                        <th>물품 상태</th>
                        <th>현재 입찰가</th>
                        <th>바로 구매가</th>
                        <th>등록 날짜</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="text-center" data-bs-toggle="modal"
                        th:data-bs-target="|#myModal${saleOrderStat.index}|"
                        th:each="saleOrder, saleOrderStat : ${saleOrders}">

                        <td class="py-3 align-middle" th:text="${ saleOrder.productName }" >

                        </td>
                        <td class="py-3 align-middle" th:text="${saleOrder.productTime == noneTime  ?
                             '비경매 ' : '경매 ' }"></td>
                        <td class="py-3 align-middle" th:text="${ saleOrder.productType.description }"></td>
                        <td class="py-3 align-middle"
                            th:text=" (${saleOrder.offerPrice} == -1 ) ? '-' : ${#numbers.formatInteger(saleOrder.offerPrice, 0, 'COMMA')}"></td>
                        <td class="py-3 align-middle" th:text="${#numbers.formatInteger(saleOrder.instantPrice, 0, 'COMMA')}"></td>
                        <td class="py-3 align-middle"
                            th:text="${#temporals.format( saleOrder.productDateTime , 'yy-MM-dd HH:mm')}"></td>

                    </tr>
                    <!-- 판매, 마감, 판매중, 판매 완료-->


                    <!--           <tr>
                                   <td class="py-3"><a class="nav-link-style fw-medium fs-sm" href="#order-details"
                                                       data-bs-toggle="modal">34VB5540K83</a></td>
                                   <td class="py-3">May 21, 2019</td>
                                   <td class="py-3"><span class="badge bg-info m-0">In Progress</span></td>
                                   <td class="py-3">$358.75</td>
                               </tr>-->

                    </tbody>
                </table>
            </div>
            <!-- Pagination-->
            <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation" th:if="${totalPages != 0}">

                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"  th:href="@{/members/myPage/saleOrders(page=${presentPage}-1)}">
                            <i class="ci-arrow-left me-2"></i>Prev
                        </a>
                    </li>
                </ul>

                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/members/myPage/saleOrders(page = 1)}">
                            <i class="ci-arrow-left me-2"></i>First
                        </a>
                    </li>
                </ul>

                <ul class="pagination">
                    <th:block th:with="start = ${T(Math).floor(presentPage/10) * 10 +1},
                                            end = (${start + 9 < totalPages ? start+9 : totalPages})">
                        <li class="page-item"
                            th:each="pageButton : ${#numbers.sequence(start, end)}">
                            <a class="page-link" th:classappend="( ${ pageButton == presentPage + 1 }) ? 'bg-primary text-white'  : '' " th:href="@{/members/myPage/saleOrders(page = ${pageButton})}" th:text="${pageButton}"></a>
                        </li>
                    </th:block>
                </ul>

                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"th:href="@{/members/myPage/saleOrders(page=${totalPages})}" aria-label="Next">Last
                            <i class="ci-arrow-right ms-2"></i>
                        </a>
                    </li>
                </ul>

                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"th:href="@{/members/myPage/saleOrders(page=${presentPage}+1)}" aria-label="Next">Next
                            <i class="ci-arrow-right ms-2"></i>
                        </a>
                    </li>
                </ul>

            </nav>
        </section>
    </div>
</div>
</main>

</body>
</html>