<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layoutFile :: layout(~{::body})}">

<!-- Body-->
<body class="handheld-toolbar-enabled">

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">addProduct</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <!--왼쪽 위 제목-->
            <h1 class="h3 text-light mb-0">판매하기</h1>
        </div>
    </div>
</div>

<div class="container">
    <!-- Gallery + details-->
    <div class="bg-light shadow-lg rounded-3 px-4 py-3 mb-5">
        <div class="px-lg-3">

            <!-- Product details 상세정보-->

            <div class="product-details mx-auto pb-3">
                <form class="needs-validation" action="" th:action="@{/addProduct}" th:object="${productData}"
                      method="post" enctype="multipart/form-data" >

<!--                    <div th:if="${#fields.hasGlobalErrors()}">-->
<!--                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>-->
<!--                    </div>-->

                    <div class="input-group mb-3 my-2 ">
                        <div class="m-3">상품 명</div>
                        <input class="form-control rounded-start" id="product_name"
                               th:errorclass="field-error"
                               th:field="*{name}" type="text" placeholder="상품 제목을 입력하세요" >
                    </div>

                    <div class="input-group mb-3 my-2">
                        <div class="m-3 me-5">경매 시간</div>

                        <div th:each="type : ${productTimes}" class="form-check p-3">
                            <input type="radio" class="form-check-input" name="optRadio" value="something" th:field="*{productTime}" th:value="${type.name()}" >
                            <label class="form-check-label" th:for="${#ids.prev('productTime')}"  th:text="${type.description}">24시간</label>
                        </div>
                    </div>

                    <div class="input-group mb-3 my-2">
                        <div class="m-3">경매 시작가</div>
                        <input class="form-control rounded-start" id="auction_price"
                               th:errorclass="field-error"
                               th:field="*{auctionPrice}"
                               type="text" placeholder="경매 시작가 입력하세요">
                        <div class="m-2">원</div>
                    </div>

                    <div class="input-group mb-3 my-2">
                        <div class="m-3">즉시 구매가</div>
                        <input class="form-control rounded-start" id="product_price"
                               th:errorclass="field-error"
                               th:field="*{instancePrice}"
                               type="text" placeholder="즉시 구매가를 입력하세요" required>
                        <div class="m-2">원</div>
                    </div>




                    <div class="input-group mb-3 my-2">
                        <div class="m-3">상품 이미지</div>
                        <input class="form-control rounded-start" id="image_nameSrc"
                               th:errorclass="field-error"
                               th:field="*{imageFileList}"
                               type="file" multiple="multiple"
                               placeholder="이미지를 업로드 하세요">
                    </div>

                    <div class="mb-3 my-2">
                        <div class="m-3">설명</div>
                        <textarea rows="6"
                                  th:errorclass="field-error"
                                  th:field="*{explanation}"
                                  class="form-control rounded-start"></textarea>
                    </div>

                    <div class="m-3">카테고리</div>
                    <div class="navbar-sticky bg-light">
                        <div class="navbar navbar-expand navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2 flex-wrap">
                                <!-- Primary menu-->

                                <li class="dropdown mx-2 border rounded" style="list-style:none;">여성의류

                                    <ul class="dropdown-menu">

                                        <select class="form-select dropdown col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="패딩점퍼,여성의류">패딩/점퍼</option>
                                            <option class="mt-2" value="맨투맨,여성의류">맨투맨</option>
                                            <option class="mt-2" value="코드,여성의류">코드</option>
                                            <option class="mt-2" value="후드티/후드집업,여성의류">후드티/후드집업</option>
                                            <option class="mt-2" value="티셔츠,여성의류">티셔츠</option>
                                            <option class="mt-2" value="셔츠,여성의류">셔츠</option>
                                            <option class="mt-2" value="바지,여성의류">바지</option>
                                            <option class="mt-2" value="반바지,여성의류">반바지</option>
                                            <option class="mt-2" value="정장,여성의류">정장</option>
                                            <option class="mt-2" value="트레이닝,여성의류">트레이닝</option>
                                            <option class="mt-2" value="언더웨어홈웨어,여성의류">언더웨어/홈웨어</option>
                                            <option class="mt-2" value="치마,여성의류">치마</option>
                                            <option class="mt-2" value="원피스,여성의류">원피스</option>
                                            <option class="mt-2" value="가디건,여성의류">가디건</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">남성의류

                                    <ul class="dropdown-menu">

                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="패딩점퍼,남성의류">패딩/점퍼</option>
                                            <option class="mt-2" value="코드,남성의류">코드</option>
                                            <option class="mt-2" value="맨투맨" ,남성의류>맨투맨</option>
                                            <option class="mt-2" value="후드티후드집업,남성의류">후드티/후드집업</option>
                                            <option class="mt-2" value="티셔츠,남성의류">티셔츠</option>
                                            <option class="mt-2" value="셔츠,남성의류">셔츠</option>
                                            <option class="mt-2" value="바지,남성의류">바지</option>
                                            <option class="mt-2" value="반바지,남성의류">반바지</option>
                                            <option class="mt-2" value="정장,남성의류">정장</option>
                                            <option class="mt-2" value="트레이닝,남성의류">트레이닝</option>
                                            <option class="mt-2" value="언더웨어홈웨어,남성의류">언더웨어/홈웨어</option>
                                            <option class="mt-2" value="가디건,남성의류">가디건</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">신발
                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="스니커즈,신발">스니커즈</option>
                                            <option class="mt-2" value="남성화,신발">남성화</option>
                                            <option class="mt-2" value="여성화,신발">여성화</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">가방
                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="여성가방,가방">여성가방</option>
                                            <option class="mt-2" value="남성가방,가방">남성가방</option>
                                            <option class="mt-2" value="여행용,가방">여행용</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">시계/쥬얼리
                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="시계,시계쥬얼리">시계</option>
                                            <option class="mt-2" value="쥬얼리,시계쥬얼리">쥬얼리</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">패션 악세서리
                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="지갑,악세서리">지갑</option>
                                            <option class="mt-2" value="벨트,악세서리">벨트</option>
                                            <option class="mt-2" value="모자,악세서리">모자</option>
                                            <option class="mt-2" value="목도리장갑,악세서리">목도리/장갑</option>
                                            <option class="mt-2" value="스카프넥타이,악세서리">스카프/넥타이</option>
                                            <option class="mt-2" value="안경선글라스,악세서리">안경/선글라스</option>
                                            <option class="mt-2" value="양말스타킹,악세서리">양말/스타킹</option>
                                            <option class="mt-2" value="우산양산,악세서리">우산/양산</option>
                                            <option class="mt-2" value="기타 악세서리,악세서리">기타 악세서리</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">디지털/가전
                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="모바일,디지털">모바일</option>
                                            <option class="mt-2" value="가전제품,디지털">가전제품</option>
                                            <option class="mt-2" value="오디오영상관련기기,디지털">오디오/영상/관련기기</option>
                                            <option class="mt-2" value="PC노트북,디지털">PC/노트북</option>
                                            <option class="mt-2" value="게임타이틀,디지털">게임/타이틀</option>
                                            <option class="mt-2" value="카메라DSLR,디지털">카메라/DSLR</option>
                                            <option class="mt-2" value="PC부품저장장치,디지털">PC부품/저장장치</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">스포츠/레저
                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="골프,스포츠">골프</option>
                                            <option class="mt-2" value="캠핑,스포츠">캠핑</option>
                                            <option class="mt-2" value="낚시,스포츠">낚시</option>
                                            <option class="mt-2" value="축구,스포츠">축구</option>
                                            <option class="mt-2" value="자전거,스포츠">자전거</option>
                                            <option class="mt-2" value="테니스,스포츠">테니스</option>
                                            <option class="mt-2" value="등산클라이밍,스포츠">등산/클라이밍</option>
                                            <option class="mt-2" value="헬스요가필라테스,스포츠">헬스/요가/필라테스</option>
                                            <option class="mt-2" value="야구,스포츠">야구</option>
                                            <option class="mt-2" value="볼링,스포츠">볼링</option>
                                            <option class="mt-2" value="배트민턴,스포츠">배트민턴</option>
                                            <option class="mt-2" value="탁구,스포츠">탁구</option>
                                            <option class="mt-2" value="농구,스포츠">농구</option>
                                            <option class="mt-2" value="당구,스포츠">당구</option>
                                            <option class="mt-2" value="기타스포츠,스포츠">기타 스포츠</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">차량/오토바이

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="국산차,차량">국산차</option>
                                            <option class="mt-2" value="수입차,차량">수입차</option>
                                            <option class="mt-2" value="차량용품부품,차량">차량용품/부품</option>
                                            <option class="mt-2" value="오토바이용품부품,차량">오토바이용품/부품</option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">스타굿즈

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="보이그룹,굿즈">보이그룹
                                            </option>
                                            <option class="mt-2" value="걸그룹,굿즈">걸그룹
                                            </option>
                                            <option class="mt-2" value="방송예능캐릭터,굿즈">방송/예능/캐릭터
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">예술/희귀/수집품

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="희귀수집품,예술">희귀/수집품
                                            </option>
                                            <option class="mt-2" value="골동품,예술">골동품
                                            </option>
                                            <option class="mt-2" value="예술작품,예술">예술작품
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">음반/악기

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="CDDVDLP,악기">CD/DVD/LP
                                            </option>
                                            <option class="mt-2" value="악기,악기">악기
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">도서/티켓/문구

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="도서,도서">도서
                                            </option>
                                            <option class="mt-2" value="문구,도서">문구
                                            </option>
                                            <option class="mt-2" value="기프티콘쿠폰,도서">기프티콘/쿠폰
                                            </option>
                                            <option class="mt-2" value="상품권,도서">상품권
                                            </option>
                                            <option class="mt-2" value="티켓,도서">티켓
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">뷰티/미용

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="스킨케어,뷰티">스킨케어
                                            </option>
                                            <option class="mt-2" value="색조메이크업,뷰티">색조메이크업
                                            </option>
                                            <option class="mt-2" value="베이스메이크업,뷰티">베이스메이크업
                                            </option>
                                            <option class="mt-2" value="바디헤어케어,뷰티">바디/헤어케어
                                            </option>
                                            <option class="mt-2" value="향수아로마,뷰티">향수/아로마
                                            </option>
                                            <option class="mt-2" value="네일아트케어,뷰티">네일아트/케어
                                            </option>
                                            <option class="mt-2" value="미용소품기기,뷰티">미용소품/기기
                                            </option>
                                            <option class="mt-2" value="아티어트이너뷰티,뷰티">아티어트/이너뷰티
                                            </option>
                                            <option class="mt-2" value="남성화장품,뷰티">남성화장품
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">가구/인테리어

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="인테리어,가구">인테리어
                                            </option>
                                            <option class="mt-2" value="가구,가구">가구
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">생활/가공식품

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="주방용품,생활">주방용품
                                            </option>
                                            <option class="mt-2" value="생활용품,생활">생활용품
                                            </option>
                                            <option class="mt-2" value="식품,생활">식품
                                            </option>
                                            <option class="mt-2" value="산업용품,생활">산업용품
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">유아동/출산

                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="베이비의류,아동">베이비의류
                                            </option>
                                            <option class="mt-2" value="유아동신발잡화,아동">유아동신발/잡화
                                            </option>
                                            <option class="mt-2" value="교육완구인형,아동">교육/완구/인형
                                            </option>
                                            <option class="mt-2" value="유아용품,아동">유아용품
                                            </option>
                                            <option class="mt-2" value="출산임부용품,아동">출산/임부용품
                                            </option>
                                            <option class="mt-2" value="이유용품유아식기,아동">이유용품/유아식기
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                                <li class="dropdown mx-2 border rounded" style="list-style:none;">동물
                                    <ul class="dropdown-menu">
                                        <select class="form-select col"
                                                size="20"
                                                onchange="handleOnChange(this)"
                                        >
                                            <option class="mt-2" value="강아지,동물">강아지
                                            </option>
                                            <option class="mt-2" value="고양이,동물">고양이
                                            </option>
                                            <option class="mt-2" value="기타용품,동물">기타용품
                                            </option>
                                            <option class="mt-2" value="사료간식">사료/간식
                                            </option>
                                        </select>
                                    </ul>
                                </li>


                        </div>
                    </div>
                    <!--test -->


                    <hr class="mt-4">

                    <div id="result_comment">
                        선택된것 =
                    </div>
                    <input type="hidden" id="result" th:field="*{category}"/>

                    <div class="text-end pt-4">
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">
                            <i class="ci-cart fs-lg me-2"></i>
                            등록하기
                        </button>
                    </div>

                </form>


                <!-- Product panels-->
                <div class="accordion mb-4" id="productPanels">
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button" href="#productInfo"
                                                        role="button" data-bs-toggle="collapse"
                                                        aria-expanded="true" aria-controls="productInfo"><i
                                class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product
                            info</a></h3>
                        <div class="accordion-collapse collapse show" id="productInfo"
                             data-bs-parent="#productPanels">
                            <div class="accordion-body">
                                <h6 class="fs-sm mb-2">Composition</h6>
                                <ul class="fs-sm ps-4">
                                    <li>Elastic rib: Cotton 95%, Elastane 5%</li>
                                    <li>Lining: Cotton 100%</li>
                                    <li>Cotton 80%, Polyester 20%</li>
                                </ul>
                                <h6 class="fs-sm mb-2">Art. No.</h6>
                                <ul class="fs-sm ps-4 mb-0">
                                    <li>183260098</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed"
                                                        href="#shippingOptions" role="button"
                                                        data-bs-toggle="collapse" aria-expanded="true"
                                                        aria-controls="shippingOptions"><i
                                class="ci-delivery text-muted lead align-middle mt-n1 me-2"></i>Shipping options</a>
                        </h3>
                        <div class="accordion-collapse collapse" id="shippingOptions"
                             data-bs-parent="#productPanels">
                            <div class="accordion-body fs-sm">
                                <div class="d-flex justify-content-between border-bottom pb-2">
                                    <div>
                                        <div class="fw-semibold text-dark">Courier</div>
                                        <div class="fs-sm text-muted">2 - 4 days</div>
                                    </div>
                                    <div>$26.50</div>
                                </div>
                                <div class="d-flex justify-content-between border-bottom py-2">
                                    <div>
                                        <div class="fw-semibold text-dark">Local shipping</div>
                                        <div class="fs-sm text-muted">up to one week</div>
                                    </div>
                                    <div>$10.00</div>
                                </div>
                                <div class="d-flex justify-content-between border-bottom py-2">
                                    <div>
                                        <div class="fw-semibold text-dark">Flat rate</div>
                                        <div class="fs-sm text-muted">5 - 7 days</div>
                                    </div>
                                    <div>$33.85</div>
                                </div>
                                <div class="d-flex justify-content-between border-bottom py-2">
                                    <div>
                                        <div class="fw-semibold text-dark">UPS ground shipping</div>
                                        <div class="fs-sm text-muted">4 - 6 days</div>
                                    </div>
                                    <div>$18.00</div>
                                </div>
                                <div class="d-flex justify-content-between pt-2">
                                    <div>
                                        <div class="fw-semibold text-dark">Local pickup from store</div>
                                        <div class="fs-sm text-muted">&mdash;</div>
                                    </div>
                                    <div>$0.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#localStore"
                                                        role="button" data-bs-toggle="collapse"
                                                        aria-expanded="true" aria-controls="localStore">
                            <i class="ci-location text-muted fs-lg align-middle mt-n1 me-2"></i>
                            Find in local store</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Toolbar for handheld devices (Default)-->
<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item"
                                                     href="account-wishlist.html"><span class="handheld-toolbar-icon"><i
            class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a
            class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i
            class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a
            class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i
            class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span
            class="handheld-toolbar-label">$265.00</span></a></div>
</div>


<script th:inline="javascript">

    function handleOnChange(e) {

        // 선택된 데이터 가져오기
        const value = e.value;
        document.getElementById('result_comment').innerText = "선택된것 = " + value;
        document.getElementById('result').value = value;

    }

    $(document).ready(() => {
    //24, 48, 비경매
        $("#productTime1").attr("checked", true);

        $("#productTime1").click(function(event) {
            //readOnly remove
            $("#auction_price").removeAttr("readonly").attr("placeholder","경매 시작가를 입력하세요.");
        });

        $("#productTime2").click(function(event) {
            //readOnly remove
            $("#auction_price").removeAttr("readonly").attr("placeholder","경매 시작가를 입력하세요.");

        });

        $("#productTime3").click(function(event) {
            //readOnly set
            $("#auction_price").val("")
                .attr("readonly",true)
                .attr("placeholder","비경매는 입력하지 않습니다.");
        });

    });

</script>
<!-- Back To Top Button-->
<a class="btn-scroll-top" href="#top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon ci-arrow-up"> </i>
</a>


</body>

</html>