<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layoutFile :: layout(~{::body},'shop')}">

<!-- Body-->
<body class="handheld-toolbar-enabled">
<main class="page-wrapper">
    <!-- Size chart modal-->

    <!-- The auction Modal -->
    <div class="modal" id="auctionModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header border border-0">
                    <h4 class="modal-title">경매 가격 등록</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <hr class="mx-3 border border-2 rounded border-primary bg-primary">


                <!-- Modal body -->
                <div class="modal-body">
                    <form action="" th:action="@{/product/order/buyAuction}" method="post">
<!--                        <input class="mb-3 form-control rounded-start" id="inputPrice" type="text"-->
<!--                               placeholder="경매 가격을 입력해주세요" value="">-->
<!--                        <input type="hidden"  th:id="auctionPrice" type="text"-->
<!--                               th:name="auctionPrice">-->

<!--                        <input class="mb-3 form-control rounded-start" th:id="auctionPrice" type="text"-->
<!--                               th:name="auctionPrice" placeholder="경매 가격을 입력해주세요" >-->

                        <input class="mb-3 form-control rounded-start" id="inputPrice" type="text"
                               placeholder="경매 가격을 입력해주세요" >

                        <input type="hidden" th:id="auctionPrice" th:name="auctionPrice" th:value="${product.auctionPrice}">

                        <input type="hidden" th:id="memberId" th:name="memberId"
                               th:if="${session.loginMember != null}"
                               th:value="${session.loginMember.getId()}"/>
                        <input type="hidden" th:id="productId" th:name="productId" th:value="${product.id}"/>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-danger me-2" data-bs-dismiss="modal">경매 주문</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="shop.html"><i class="ci-home"></i>Home</a>
                        </li>
                        <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page"
                            th:text="${product.name}"></li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 text-light mb-0" th:text="${product.name}">제품메인제목</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Gallery + details-->
        <div class="bg-light shadow-lg rounded-3 px-4 py-3 mb-5">
            <div class="px-lg-3">
                <div class="row">
                    <!-- Product gallery-->
                    <div class="col-lg-7 pe-lg-0 pt-lg-4">
                        <div class="product-gallery">
                            <div class="product-gallery-preview order-sm-2">
                                <div class="product-gallery-preview-item active" id="first">
                                    <img th:src="|/product/images/${product.getProductImagesList().get(0).getStoreFileName()}|"
                                         alt="Product image">
                                </div>
                            </div>
                            <div class="product-gallery-thumblist order-sm-1">
                                <a class="product-gallery-thumblist-item active" href="#first">
                                    <img th:src="|/product/images/${product.getProductImagesList().get(0).getStoreFileName()}|"
                                         alt="Product thumb"></a>
                            </div>
                        </div>
                    </div>
                    <!-- Product details-->
                    <div class="col-lg-5 pt-4 pt-lg-0">
                        <div class="product-details ms-auto pb-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h2 th:text="${product.getName()}"></h2>
                                <button class="btn-wishlist me-0 me-lg-n3" type="button" data-bs-toggle="tooltip"
                                        title="Add to wishlist">
                                    <i class="ci-heart"></i>
                                </button>
                            </div>

                            <!--가격-->
                            <div class="mb-3"><span class="h3 fw-normal text-accent me-1"
                                                    th:text="${#numbers.formatInteger(product.instantPrice, 0, 'COMMA')}"></span>
                                <span class="me-3">원</span>
                            </div>

                            <div class="fs-sm mb-4">
                                <span class="text-heading fw-medium me-1">카테고리:</span>
                                <span class="text-muted" id="colorOption1"
                                      th:utext="${product.categoryRecordDto.getFirst()}"></span>
                                <span class="text-muted" id="colorOption2"
                                      th:text="${product.categoryRecordDto.getSecond()}"></span>
                            </div>


                            <!-- Product panels-->
                            <div class="accordion mb-4" id="productPanels">
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <a class="accordion-button" href="#productInfo"
                                                                    role="button" data-bs-toggle="collapse"
                                                                    aria-expanded="true" aria-controls="productInfo">
                                        <i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>
                                        물품 상세 설명
                                        </a>
                                    </h3>
                                    <div class="accordion-collapse collapse show" id="productInfo"
                                         data-bs-parent="#productPanels">
                                        <div class="accordion-body">

                                            <h6 class="fs-sm mb-2">등록 형태 </h6>
                                            <ul class="fs-sm ps-4">
                                                <li class="" th:text="${product.productTime.getDescription()}"></li>
                                            </ul>

                                            <h6 class="fs-sm mb-2"
                                                th:classappend="${product.productTime.equals( productTime[2])} ?  'd-none' : ''">
                                                경매 가격 </h6>
                                            <ul class="fs-sm ps-4">
                                                <li class=""
                                                th:text="|${#numbers.formatInteger((maxAuctionPrice == -1 ? product.instantPrice : maxAuctionPrice), 0, 'COMMA')} 원|"></li></span>
                                                <!--                                                    th:text="${maxAuctionPrice} == -1 ? ${product.auctionPrice} : ${ maxAuctionPrice }"></li></span>-->
                                            </ul>

                                            <h6 class="fs-sm mb-2">상세 설명</h6>
                                            <ul class="fs-sm ps-4">
                                                <!--자동 줄바꿈 word-break -->
                                                 <div style="word-break: break-all" rows="6"
                                                           th:text="${ product.explanation }"></div>
                                            </ul>



                                            <h6 th:id="deadLine" class="fs-sm mb-2">마감시간</h6>
                                            <ul class="fs-sm ps-4" th:classappend="${product.productTime.equals( productTime[2])} ?  'd-none' : ''">
                                                <li th:id="*{ product.productTime}"></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <form action="" th:action="@{/product/order/inCart}" method="post">

                                <input type="hidden" th:id="memberId" th:name="memberid"
                                       th:if="${session.loginMember != null}"
                                       th:value="${session.loginMember.getId()}"/>
                                <input type="hidden" th:id="productId" th:name="productid" th:value="${product.id}"/>

                                <button class="btn btn-primary btn-shadow d-block w-100" type="submit"><i
                                        class="ci-cart fs-lg me-2"></i>카트에 담기
                                </button>
                            </form>

                            <form action="" th:action="@{/product/order/buyNow}" method="post">
                                <input type="hidden" th:id="memberId" th:name="memberId"
                                       th:if="${session.loginMember != null}"
                                       th:value="${session.loginMember.getId()}"/>
                                <input type="hidden" th:id="productId" th:name="productId" th:value="${product.id}"/>


                                <button class="btn btn-danger d-block w-100 my-1" type="submit"><i
                                        class="ci-send fs-lg me-2"></i>즉시 구매
                                </button>
                            </form>


                            <button th:if="${product.auctionPrice != null}" type="button" class="btn btn-info d-block w-100 my-1" data-bs-toggle="modal"
                                    data-bs-target="#auctionModal">
                                <i class="ci-store fs-lg me-2"></i>경매 구매
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product carousel (Style with)-->
        <div class="container-fluid row">
            <div class="container border pt-5 col-md-6">
                <h2 class="h3 text-center pb-4">이런 물품도 있어요</h2>
                <div class="tns-carousel tns-controls-static tns-controls-outside">
                    <div class="tns-carousel-inner"
                         data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;:
                         {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:
                         {&quot;items&quot;:2, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 30}}}">
                        <!-- Product-->
                        <div th:each="product : ${crawlingdata}">
                            <div class="card product-card card-static">
                                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip"
                                        data-bs-placement="left" title="Add to wishlist">
                                    <i class="ci-heart"></i>
                                </button>
                                <a class="card-img-top d-block overflow-hidden" href="#">
                                    <img th:src="${product.getImg_link()}"
                                         alt="Product">
                                </a>
                                <div class="card-body py-2">
                                    <h3 class="product-title fs-sm">
                                        <a th:href="${product.getLink()}" th:text="${product.getName()}">물품제목</a>
                                    </h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price">
                                    <span class="text-accent" th:text="|${product.getPrice()} 원|">
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container border pt-5 col-md-6">
                <h2 class="h3 text-center pb-4">네이버 쇼핑몰 추천 상품</h2>
                <div class="tns-carousel tns-controls-static tns-controls-outside">
                    <div class="tns-carousel-inner"
                         data-carousel-options="{&quot;items&quot;: 2,
&quot;controls&quot;: true, &quot;nav&quot;: false,
&quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},
&quot;768&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 30}}}">
                        <!-- Product-->
                        <div th:each="naverProduct : ${naverProductList }">
                            <div class="card product-card card-static">
                                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip"
                                        data-bs-placement="left" title="Add to wishlist">
                                    <i class="ci-heart"></i>
                                </button>
                                <a class="card-img-top d-block overflow-hidden" href="#">
                                    <img th:src="${naverProduct.image}"
                                         alt="Product">
                                </a>
                                <div class="card-body py-2">
                                    <h3 class="product-title fs-sm">
                                        <a th:href="${naverProduct.link}" th:utext="${naverProduct.title}">물품제목</a>
                                    </h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price">
                                    <span class="text-accent" th:text="|${naverProduct.lprice} 원|">
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container border pt-5 col-md-6">
                <h2 class="h3 text-center pb-4">이미지 분석을 통한 추천 상품</h2>
                <div class="tns-carousel tns-controls-static tns-controls-outside">
                    <div class="tns-carousel-inner"
                         data-carousel-options="{&quot;items&quot;: 2,
&quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},
&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 20},
&quot;1100&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 30}}}">
                        <!-- Product-->
                        <div th:each="predictionNaverProduct : ${predictionNaverProductList }">
                            <div class="card product-card card-static">
                                <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip"
                                        data-bs-placement="left" title="Add to wishlist">
                                    <i class="ci-heart"></i>
                                </button>
                                <a class="card-img-top d-block overflow-hidden" href="#">
                                    <img th:src="${predictionNaverProduct.image}"
                                         alt="Product">
                                </a>
                                <div class="card-body py-2">
                                    <h3 class="product-title fs-sm">
                                        <a th:href="${predictionNaverProduct.link}" th:utext="${predictionNaverProduct.title}">물품제목</a>
                                    </h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price">
                                    <span class="text-accent" th:text="|${predictionNaverProduct.lprice} 원|">
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">

    const timeType = [[${product.productTime}]];
    const deadLineString = [[${#temporals.format( product.deadLine , 'yyyy-MM-dd HH:mm:ss')}]]
    const now = new Date();
    const deadLine = new Date(Number(deadLineString.slice(0, 4)),
        Number(deadLineString.slice(5, 7)) - 1,
        Number(deadLineString.slice(8, 10)),
        Number(deadLineString.slice(11, 13)),
        Number(deadLineString.slice(14, 16)),
        Number(deadLineString.slice(17, 19)),
    );
    const remainingTime = deadLine.getTime() - now.getTime();
    if (remainingTime > 0) {


        let totalSec = parseInt(remainingTime / 1000);

        let hour = parseInt(totalSec / 3600);
        let min = parseInt((totalSec - hour * 60 * 60) / 60);
        let sec = totalSec % 60;
        $("#" + timeType).text(hour + "시 " + min + "분 " + sec + "초");

        let timer = setInterval(() => {

            hour = parseInt(totalSec / 3600);
            min = parseInt((totalSec - hour * 60 * 60) / 60);
            sec = totalSec % 60;

            $("#" + timeType).text(hour + "시 " + min + "분 " + sec + "초");

            totalSec--;

            if (totalSec < 0) {
                clearInterval(timer);
            }

        }, 1000);
    } else {
        $("#deadLine").remove();
    }

    $("#inputPrice").on('keyup keydown', function(){
      this.value = comma(this);
      $("#auctionPrice").val(unComma(this));

    })

    // 숫자 입력 확인
    function comma(x) {
      //가장 왼쪽에 있는 0 지우기 + 숫자만 입력 받도록 함
      return x.value.replace(/(^0+)/, "").replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    // ',' 제거
    function unComma(x) {
      return x.value.replace(/,/g, '');
    }



</script>
</body>
</html>