<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layoutFile :: layout(~{::body}, 'home')}">
<!-- Body-->
<body class="handheld-toolbar-enabled">

<main class="page-wrapper">

    <!-- Products grid (Trending produts)-->
    <section class="container pt-5">
        <!-- Heading-->
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
            <h2 class="h3 mb-0 pt-3 me-2">Today products</h2>
            <div class="pt-3">
                <a class="btn btn-outline-accent btn-sm" th:onclick="|location.href='@{/}'|">
                    More products
                    <i class="ci-arrow-right ms-1 me-n1"></i>
                </a>
            </div>
        </div>
        <!-- Grid-->
        <div class="row pt-2 mx-n2" >

            <!-- Product 모든 등록된 물품 이미지를 가지고 오는 부분-->

            <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4" th:each="product : ${Products}">

                <div class="card product-card" th:if="${product.getProductType == sale}" >

                    <a class="card-img-top d-block overflow-hidden" th:href="@{/shop/detailProduct(id=${product.id})}">
<!--                        <img alt="Product"  th:src="|/images/${imageFile.getStoreFileName()}|"/>-->
                        <img alt="Product"  th:src="|/product/images/${product.productImagesList.get(0).getStoreFileName()}|"/>
                    </a>
                    <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#" th:text="${product.categoryRecordDto.getSecond()}">카테고리</a>

                        <h3 class="product-title fs-sm" >
                            <a th:href="@{/shop/detailProduct(id=${product.id})}" th:text="${product.getName()}">물품제목</a>
                        </h3>
                        <div >
                            <div class="product-price col"><span class="text-accent" th:text="|즉시 구매가: ${product.instantPrice} 원 |"></span></div>
                            <div class="product-price col"><span class="text-accent" th:if="${product.auctionPrice != null}"
                                                                 text="|경매가: ${product.getAuctionPrice()}원|"></span></div>
                            <div class="product-price col"><span class="text-accent" th:text="|마감날짜: ${#temporals.format( product.deadLine , 'yyyy-MM-dd HH:mm:ss')}|">   </span></div>
                        </div>
                    </div>
                    <div class="card-body card-body-hidden">
                        <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button"><i
                                class="ci-cart fs-sm me-1"></i>Add to Cart
                        </button>
                        <div class="text-center"><a class="nav-link-style fs-ms" href="#quick-view-electro"
                                                    data-bs-toggle="modal"><i class="ci-eye align-middle me-1"></i>Quick
                            view</a></div>
                    </div>
                </div>
                <hr class="d-sm-none">
            </div>
        </div>
    </section>

    <!-- Brands carousel-->
    <section class="container mb-5">
        <div class="tns-carousel border-end">
            <div class="tns-carousel-inner"
                 data-carousel-options="{ &quot;nav&quot;: false, &quot;controls&quot;: false, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;loop&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;360&quot;:{&quot;items&quot;:2},&quot;600&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
                <div><a class="d-block bg-white border py-4 py-sm-5 px-2" href="#" style="margin-right: -.0625rem;"><img
                        class="d-block mx-auto" src="/img/shop/brands/13.png" style="width: 165px;" alt="Brand"></a>
                </div>
                <div><a class="d-block bg-white border py-4 py-sm-5 px-2" href="#" style="margin-right: -.0625rem;"><img
                        class="d-block mx-auto" src="/img/shop/brands/14.png" style="width: 165px;" alt="Brand"></a>
                </div>
                <div><a class="d-block bg-white border py-4 py-sm-5 px-2" href="#" style="margin-right: -.0625rem;"><img
                        class="d-block mx-auto" src="/img/shop/brands/17.png" style="width: 165px;" alt="Brand"></a>
                </div>
                <div><a class="d-block bg-white border py-4 py-sm-5 px-2" href="#" style="margin-right: -.0625rem;"><img
                        class="d-block mx-auto" src="/img/shop/brands/16.png" style="width: 165px;" alt="Brand"></a>
                </div>
                <div><a class="d-block bg-white border py-4 py-sm-5 px-2" href="#" style="margin-right: -.0625rem;"><img
                        class="d-block mx-auto" src="/img/shop/brands/15.png" style="width: 165px;" alt="Brand"></a>
                </div>
                <div><a class="d-block bg-white border py-4 py-sm-5 px-2" href="#" style="margin-right: -.0625rem;"><img
                        class="d-block mx-auto" src="/img/shop/brands/18.png" style="width: 165px;" alt="Brand"></a>
                </div>
                <div><a class="d-block bg-white border py-4 py-sm-5 px-2" href="#" style="margin-right: -.0625rem;"><img
                        class="d-block mx-auto" src="/img/shop/brands/19.png" style="width: 165px;" alt="Brand"></a>
                </div>
                <div><a class="d-block bg-white border py-4 py-sm-5 px-2" href="#" style="margin-right: -.0625rem;"><img
                        class="d-block mx-auto" src="/img/shop/brands/20.png" style="width: 165px;" alt="Brand"></a>
                </div>
            </div>
        </div>
    </section>


    <!-- Product widgets-->
    <section class="container pb-4 pb-md-5">
        <div class="row">

            <!-- Bestsellers-->
            <div class="col-md-4 col-sm-6 mb-2 py-3" >
                <div class="widget">
                    <h3 class="widget-title">번개장터 물품(여성의류)</h3>

                    <div class="d-flex align-items-center pb-2 border-bottom" th:each="product : ${women_close}">
                        <a class="d-block flex-shrink-0" th:href="${product.getLink()}" >
                            <img th:src="${product.getImg_link()}" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title">
                                <a th:href="${product.getLink()}" th:text="${product.getName()}">물품 이름</a>
                            </h6>
                            <div class="widget-product-meta">
                                <span class="text-accent" th:text="${product.getPrice()}">가격</span>
                            </div>
                        </div>
                    </div>


                    <p class="mb-0">...</p>
                    <a class="fs-sm" href="shop-grid-ls.html">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
                </div>
            </div>

            <!-- Bestsellers-->
            <div class="col-md-4 col-sm-6 mb-2 py-3" >
                <div class="widget">
                    <h3 class="widget-title">번개장터 물품(남성의류)</h3>

                    <div class="d-flex align-items-center pb-2 border-bottom" th:each="product : ${men_close}">
                        <a class="d-block flex-shrink-0" th:href="${product.getLink()}" >
                            <img th:src="${product.getImg_link()}" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title">
                                <a th:href="${product.getLink()}" th:text="${product.getName()}">물품 이름</a>
                            </h6>
                            <div class="widget-product-meta">
                                <span class="text-accent" th:text="${product.getPrice()}">가격</span>
                            </div>
                        </div>
                    </div>


                    <p class="mb-0">...</p>
                    <a class="fs-sm" href="shop-grid-ls.html">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
                </div>
            </div>

            <!-- Bestsellers-->
            <div class="col-md-4 col-sm-6 mb-2 py-3" >
                <div class="widget">
                    <h3 class="widget-title">번개장터 물품(신발)</h3>

                    <div class="d-flex align-items-center pb-2 border-bottom" th:each="product : ${shose}">
                        <a class="d-block flex-shrink-0" th:href="${product.getLink()}" >
                            <img th:src="${product.getImg_link()}" width="64" alt="Product"></a>
                        <div class="ps-2">
                            <h6 class="widget-product-title">
                                <a th:href="${product.getLink()}" th:text="${product.getName()}">물품 이름</a>
                            </h6>
                            <div class="widget-product-meta">
                                <span class="text-accent" th:text="${product.getPrice()}">가격</span>
                            </div>
                        </div>
                    </div>


                    <p class="mb-0">...</p>
                    <a class="fs-sm" href="shop-grid-ls.html">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
                </div>
            </div>

        </div>
    </section>


</main>

<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item"
                                                     href="myPage/memberWishlist.html"><span class="handheld-toolbar-icon"><i
            class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a
            class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i
            class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a
            class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i
            class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span
            class="handheld-toolbar-label">$265.00</span></a></div>
</div>
<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
        class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up"> </i></a>
<script th:inline="javascript">




</script>
</body>
</html>