<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content, paramActive)">
<head>
    <meta charset="utf-8">
    <title>Silk Load</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords"
          content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
<!--    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">-->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link
            rel="stylesheet"
            media="screen"
            href="/vendor/simplebar/dist/simplebar.min.css"
    />
    <link
            rel="stylesheet"
            media="screen"
            href="/vendor/tiny-slider/dist/tiny-slider.css"
    />


    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/css/theme.min.css">
    <!--jQuery-->
    <script src="/js/jquery-3.6.0.min.js"></script>

</head>
<body>
<header class="shadow-sm">
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-sm-block flex-shrink-0" href="/">
                    SilkLoad
                </a>

                <div class="input-group d-none d-lg-flex mx-4">
                    <form class="form-control" method="get" th:action="@{/shop(page = 1)}">
                        <input class="form-control rounded-end pe-5" type="text" placeholder="Search for products"
                               th:name="keyword" th:value="${keyword}">
                    </form>
                </div>

                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">

                    <!-- 위시리스트 -->
                    <a class="navbar-tool d-none d-lg-flex" th:href="@{/members/myPage/wishlist}">
                        <span class="navbar-tool-tooltip">Wishlist</span>
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div>
                    </a>

                    <div
                            class="navbar-tool dropdown"
                            href="javascript:void(0)"
                            data-bs-toggle="collapse"
                            data-bs-target="#alarmList"
                            onclick="window.scrollTo(0, 0)"
                    >
                        <a class="navbar-tool-icon-box bg-s econdary dropdown-toggle"
                        ><span class="navbar-tool-label">3</span
                        ><i class="navbar-tool-icon ci-bell"></i
                        ></a>

                        <!-- Cart dropdown-->
                        <div class="dropdown-menu dropdown-menu-end" id="alarmList">
                            <div
                                    class="widget widget-cart px-3 pt-2 pb-3"
                                    style="width: 23rem"
                                    data-bs-toggle="dropdown
                    "
                            >
                                <div
                                        id="message-box"
                                        style="height: 15rem"
                                        data-simplebar
                                        data-simplebar-auto-hide="false"
                                >
                                    <div class="pb-2">
                                        <div class="ps-2">
                                            <h4 class="widget-product-title">
                                                <a href="/"><h5>알림</h5></a>
                                            </h4>
                                        </div>
                                        <hr
                                                class="border border-2 rounded border-primary bg-primary mb-1"
                                        />
                                    </div>

                                    <!--알림 목록 하드 코딩   -->
<!--                                    <div class="pb-2">-->
<!--                                            <div class="ps-2">-->
<!--                                                <h6 class="widget-product-title">-->
<!--                                                    <a href="shop-single-v1.html"-->
<!--                                                    >Women Colorblock Sneakers</a-->
<!--                                                    >-->
<!--                                                </h6>-->
<!--                                                <div class="widget-product-meta">-->
<!--                                                    <div class="mt-2 me-2 text-end">2017-10-21-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <hr class="border border-1 mt-1" />-->

<!--                                            </div>-->

<!--                                    </div>-->


                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- 로그인 버튼 #signin-modal-->
                    <form class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2"
                          th:if="${session.loginMember != null }" th:action="@{/logout}" method="post"
                          data-bs-toggle="modal">
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                        <button class="navbar-tool-text ms-n3 bg-transparent border-0" type="submit">
                            로그아웃
                        </button>
                    </form>
                    <!--                    |location.href='@{/oauth2/authorization/google}'|-->
                    <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2"
                       th:if="${session.loginMember == null }" th:onclick="|location.href='@{/loginMember}'|"
                       data-bs-toggle="modal">
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                        <div class="navbar-tool-text ms-n3" th:text="로그인"></div>
                    </a>


                    <div class="navbar-tool ms-3">
                        <a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                           th:href="@{/members/myPage/wishlist}">
                            <i class="navbar-tool-icon ci-cart"></i>
                        </a>

                        <a class="navbar-tool-text" th:href="@{/members/myPage/profile}">
                            <div th:if="${session.loginMember != null }" th:text="|${session.loginMember.getName()} 님|">
                                프로필 보여주는 곳
                            </div>
                            <div th:if="${session.loginMember == null }">
                                My Profile
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Search-->
                    <div class="input-group d-lg-none my-3"><i
                            class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Search for products">
                    </div>

                    <!-- Primary menu-->
                    <ul class="navbar-nav">
                        <a class="nav-link dropdown-toggle" th:classappend="${paramActive == 'home'} ? active"
                           type="button"
                           th:onclick="|location.href='@{/}'|">
                            Home
                        </a>
                        <a class="nav-link dropdown-toggle" th:classappend="${paramActive == 'shop'} ? active"
                           type="button"
                           th:onclick="|location.href='@{/shop/(first=여성의류,second=맨투맨)}'|">
                            Shop
                        </a>
                        <a class="nav-link dropdown-toggle" th:classappend="${paramActive == 'selling'} ? active"
                           type="button"
                           th:onclick="|location.href='@{/product/add}'|">
                            Selling
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div th:replace="${content}">
    <p>레이아웃 컨텐츠</p>
</div>

<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100">

        <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
           data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
        <span class="handheld-toolbar-icon">
            <i class="ci-menu"></i>
        </span>
            <span class="handheld-toolbar-label">메뉴
        </span>
        </a>

        <a class="d-table-cell handheld-toolbar-item" th:href="@{/members/myPage/wishlist}">
            <span class="handheld-toolbar-icon">
                <i class="ci-cart"></i>
            </span>
            <span class="handheld-toolbar-label">장바구니</span>
        </a>
    </div>
</div>

<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
        class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up"> </i></a>

<footer class="footer bg-dark pt-5">

    <div class="pt-5 bg-darker">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">번개장터</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">번개장터 물품을 가져오고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">네이버 Api</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">네이버 쇼핑의 물품을 가져오고 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-light mb-5">

            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">
                원민호, 강준호, 신예빈
            </div>
        </div>
    </div>

</footer>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/nouislider/dist/nouislider.min.js"></script>
<script src="/vendor/drift-zoom/dist/Drift.min.js"></script>

<!-- Main theme script-->
<script src="/js/theme.min.js"></script>
<script th:inline="javascript">

    $(document).ready((function () {

        const memberSession = [[${session.loginMember}]];

        console.log(memberSession);

        if (memberSession != null) {
            const eventSource = new EventSource(`/subscribe`);

            eventSource.onopen = (e) => {
                console.log(e);
            };
            eventSource.onerror = (e) => {
                eventSource.close();
                console.log(e);
            };
            /**
             *
             * @param e.data : message, createdDateTime, url
             */
            eventSource.onmessage = (e) => {

                const notificationResponseDto = JSON.parse(e.data);

                $(".simplebar-content").append(
                    '<div class="pb-2">' +
                    '<div class="ps-2">' +
                    '<h6 class="widget-product-title">' +
                    '<a href="' +
                    notificationResponseDto.url +
                    '">' +
                    '<span>' +
                    notificationResponseDto.message +
                    '</span>' +
                    '</a>' +
                    '</h6>' +
                    '<div class="widget-product-meta">' +
                    '<div class="mt-2 me-2 text-end">' +
                    notificationResponseDto.createdDateTime +
                    '</div>' +
                    '</div>' +
                    '<hr class="border border-1 mt-1"/>' +
                    '</div>' +
                    '</div>'

                )

            };

        }
    }))

</script>
</body>
</html>