<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layoutFile :: layout(~{::body}, 'login')}">

<!-- Body-->
<body class="handheld-toolbar-enabled">

<main class="page-wrapper">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div class="container py-4 py-lg-5 my-4">
        <div class="row justify-content-center">
            <div class="col-md-6 px-10">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h2 class="h4 mb-1">로그인</h2>

                        <hr>
                        <h3 class="fs-base pt-4 pb-2">안녕하세요</h3>

                        <form class="needs-validation" action="" th:action="@{/login}" th:object="${loginFormDto}"
                              method="post" autocomplete="off" novalidate >
<!--                            <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                            <div th:if="${#fields.hasGlobalErrors()}">
                                <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류
                                    메시지</p>
                            </div>

                            <div class="input-group mb-3"><i
                                    class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                                <input class="form-control rounded-start" name="username" id="username" th:errorclass="field-error"
                                       th:field="*{loginId}" type="text" placeholder="Id을 입력하세요" autofocus required>
                            </div>

                            <div class="input-group mb-3"><i
                                    class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                                <div class="password-toggle w-100">
                                    <input class="form-control" name="password" type="password" id="password" th:field="*{password}"
                                           placeholder="비밀번호" required>
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span
                                            class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>

                            <div class=" row text-end m-auto pt-2 pb-2 w-100">
                                <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>Login
                                    In
                                </button>
                            </div>
                            <hr class="my-4">
                            <h3 class="fs-base"><a th:href="@{/members/add}">회원가입</a></h3>

                        </form>
                        <!-- form으로 하지 않고 oath로만 가능하게 하기 -->
                        <div class="row m-auto pt-2 w-100">
                            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                            <!--네이버 로그인 추가-->
                            <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                            <!--카카오 로그인 추가-->
                            <a href="/oauth2/authorization/kakao" class="btn btn-third active" role="button">Kakao Login</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

</body>
</html>