<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layoutFile::layout(~{::body},'shop')}">
<!-- Body-->
<body class="handheld-toolbar-enabled">
<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="shop.html"><i class="ci-home"></i>Home</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">오늘의 상품</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">

        <!-- Sidebar-->
        <div th:replace="~{shopSidebar:: sidebar('shopSidebar')}"></div>
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
                <div class="d-flex flex-wrap">
                    <!--                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">-->
                    <!--                            <label class="text-light opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">-->
                    <!--                                Sort by:-->
                    <!--                            </label>-->
                    <!--                            <select class="form-select" id="sorting">-->
                    <!--                                <option>Popularity</option>-->
                    <!--                                <option>Low - Hight Price</option>-->
                    <!--                                <option>High - Low Price</option>-->
                    <!--                                <option>Average Rating</option>-->
                    <!--                                <option>A - Z Order</option>-->
                    <!--                                <option>Z - A Order</option>-->
                    <!--                            </select><span class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block">of 287 products</span>-->
                    <!--                        </div>-->
                </div>

                <!--paging 처리 부분 -->
                <div class="d-flex pb-3 " th:if="${totalPages != 0}">
                    <a class="nav-link-style nav-link-light me-3" th:if="${presentPage}"
                       th:href="@{/shop(page=${presentPage}-1)}" href="#">
                        <i class="ci-arrow-left"></i>
                    </a>
                    <span class="fs-md text-light" th:text="|${presentPage} / ${totalPages - 1}|"> </span>
                    <a class="nav-link-style nav-link-light ms-3" th:if="${presentPage < totalPages}"
                       th:href="@{/shop(page=${presentPage}+1)}" href="#">
                        <i class="ci-arrow-right"></i>
                    </a>
                </div>

            </div>
            <!-- Products grid-->
            <div class="row mx-n2">
                <!-- Product-->
                <div class="col-md-4 col-sm-6 px-2 mb-4" th:each="product : ${allProduct}">
                    <div class="card product-card" th:if="${product.getProductType == sale}">
                        <a class="card-img-top d-block overflow-hidden"
                           th:href="@{/shop/detailProduct(id=${product.id}, first=${product.getCategoryFirst()}, second=${product.getCategorySecond()}, third=${product.getCategoryThird()} )}">
                            <img alt="Product"
                                 th:src="|/product/images/${product.getUploadFileName()}|"/>
                        </a>
                        <div class="card-body py-2">
                            <a class="product-meta d-block fs-xs pb-1"
                               th:href="@{/shop/(
                               first=${product.getCategoryFirst()},
                               second=${product.getCategorySecond()} )}"
                               th:text="${ product.getCategoryThird() }">카테고리
                            </a>

                            <h3 class="product-title fs-sm">
                                <a th:href="@{/shop/detailProduct(id=${product.id},
                                first=${product.getCategoryFirst()},
                                second=${product.getCategorySecond()},
                                third=${product.getCategoryThird()} )}"
                                   th:text="${product.getName()}">물품제목</a>
                            </h3>
                            <div class="product-price "><span class="text-accent"
                                                              th:text="|즉시 구매가: ${product.instantPrice} 원 |"></span>
                            </div>
                            <div class="product-price "><span class="text-accent"
                                                              th:if="${product.auctionPrice != null}"
                                                              th:text="|경매 시작가: ${product.auctionPrice }원|"></span></div>
                            <div class="product-price "><span class="text-accent"
                                                              th:if="${product.offerPrice != null and product.offerPrice != -1}"
                                                              th:text="|현재 경매가: ${product.offerPrice }원|"></span></div>
                            <!--                                    <div class="product-price "><span class="text-accent" th:text="|마감날짜: ${product.deadLine}|"></span></div>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 px-2 mb-4" th:each="crawlingdata : ${crawlingdata}">
                    <div class="card product-card">
                        <a class="card-img-top d-block overflow-hidden" th:href="${crawlingdata.getLink()}">
                            <img alt="Product" th:src="${crawlingdata.getImg_link()}"/>
                        </a>
                        <div class="card-body py-2">
                            <div class="product-meta d-block fs-xs pb-1"  th:text="번개장터">카테고리
                            </div>

                            <h3 class="product-title fs-sm">
                                <a th:href="${crawlingdata.getLink()}" th:text="${crawlingdata.getName()}">물품 이름</a>
                            </h3>

                            <div class="product-price ">
                                <span class="text-accent" th:text="|가격: ${crawlingdata.getPrice()}|"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 px-2 mb-4" th:each="naverData : ${data}">
                    <div class="card product-card">
                        <a class="card-img-top d-block overflow-hidden" th:href="${ naverData.getLink()  }">
                            <img alt="Product" th:src="${naverData.getImage() }"/>
                        </a>
                        <div class="card-body py-2">
                            <div class="product-meta d-block fs-xs pb-1"  th:text="네이버">카테고리
                            </div>
                            <h3 class="product-title fs-sm">
                                <a th:href="${naverData.getLink() }" th:utext="${naverData.getTitle()}">물품 이름</a>
                            </h3>

                            <div class="product-price ">
                                <span class="text-accent" th:text="|가격: ${naverData.getLprice()} 원 |"></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <hr class="my-3">

<!--            &lt;!&ndash; Pagination&ndash;&gt;-->
<!--            <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation" th:if="${totalPages != 0}">-->

<!--                <ul class="pagination">-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link"-->
<!--                           th:href="@{/shop(category=${category}, first=${first}, page=${presentPage}-1)}">-->
<!--                            <i class="ci-arrow-left me-2"></i>Prev-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->

<!--                <ul class="pagination">-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" th:href="@{/shop(category=${category}, first=${first},page = 1)}">-->
<!--                            <i class="ci-arrow-left me-2"></i>First-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <-->
<!--                <ul class="pagination">-->
<!--                    <th:block th:with="start = ${ T(Math).floor( presentPage/10 ) * 10 +1},-->
<!--                                            end = (${start + 9 < totalPages ? start+9 : totalPages})">-->
<!--                        <li class="page-item"-->
<!--                            th:each="pageButton : ${#numbers.sequence(start, end)}">-->
<!--                            <a class="page-link"-->
<!--                               th:classappend="( ${ pageButton == presentPage + 1 }) ? 'bg-primary text-white'  : '' "-->
<!--                               th:href="@{/shop(category=${category}, first=${first},page = ${pageButton})}"-->
<!--                               th:text="${pageButton}"></a>-->
<!--                        </li>-->
<!--                    </th:block>-->
<!--                </ul>-->

<!--                <ul class="pagination">-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link"-->
<!--                           th:href="@{/shop(category=${category}, first=${first}, page=${totalPages})}"-->
<!--                           aria-label="Next">Last-->
<!--                            <i class="ci-arrow-right ms-2"></i>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->

<!--                <ul class="pagination">-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link"-->
<!--                           th:href="@{/shop(category=${category}, first=${first}, page=${presentPage}+1)}"-->
<!--                           aria-label="Next">Next-->
<!--                            <i class="ci-arrow-right ms-2"></i>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </section>
    </div>
</div>
</body>
</html>